<div ng-controller="ProfilesCtrl">
    <!--<button ng-click="debug()">button</button>-->
    <div class="contact-panel" style="width: 30%; height: calc(100vh - 75px); right: 0; top: 60px; margin-top:10px; border-left: 1px #e9e9e9 solid;">
        <div style="background-color: blue; width: 100%; height: 40vh; text-align: center" ng-style="getStyle(profile.status)">
            <h1 style="margin: 0; padding-top: 15px; padding-bottom: 10px"> {{profile.contactInformation.fullName}}</h1>
            <img ng-src="{{profile.profilePic}}" style="width: 60%; border-radius: 50%"/>
        </div>
        <div style="padding: 10px">
            <div>
                <h3>Contact</h3>
                <p>Mobile: {{profile.contactInformation.cellPhone}}</p>
                <p>Home: {{profile.contactInformation.homePhone}}</p>
                <p>Address: {{profile.contactInformation.address}}</p>
                <p>Email: {{profile.contactInformation.email}}</p>
            </div>
            <div>
                <h3>Notifications</h3>
                <p>Click to resolve</p>
                <div style="width: 95%; margin: 2.5%; padding: 10px" ng-style="getStyle(profile.status)" ng-repeat="(key, value) in profile.alerts" ng-click="deleteAlert(key)">
                    <b>{{value}}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="data-panel" style="width: 70%; height: 100%; float:left; max-height: calc(100vh - 75px); overflow: auto">
        <div class="row dataMetric">
            <div class="col-sm-8">
                <h3>Heart Rate</h3>
                <canvas id="line" class="chart chart-line" chart-data="heartrateValues"
                    chart-labels="heartrateTimes"  chart-series="series" chart-options="heartrateOptions"
                    chart-click="onClick" style="">
                </canvas> 
            </div>
            <div class="col-sm-4" style="margin-top:55px;">
                <label>Max heartrate:</label><br>
                <input type="number" value="{{profile.settings.hearthreateHighThreshold}}" ng-model="profile.settings.hearthreateHighThreshold"><br>
                <label>Min heartrate:</label><br>
                <input type="number" value="{{profile.settings.heartrateLowThreshold}}" ng-model="profile.settings.heartrateLowThreshold"><br>
            </div>
        </div>
        <div class="row dataMetric">
            <div class="col-sm-12" style="max-height: 400px; overflow: auto">
                <h3>Memos</h3>
                <div>
                    <timeline>
                        <timeline-event ng-repeat="memo in profile.memos" side="right">
                            <timeline-badge class="info" style="left: 10%">
                                <i class="glyphicon {{memo.badgeIconClass}}"></i>
                            </timeline-badge>
                            <timeline-panel class="info" style="width:80%">
                                <timeline-heading>
                                    <h4>{{memo.title}}</h4>
                                </timeline-heading>
                                <small>{{getMemoTimestamp(memo.timeStamp)}}</small>
                                <p>{{memo.content}}</p>
                            </timeline-panel>
                        </timeline-event>
                    </timeline>
                </div>
            </div>
        </div>
    </div>
</div>
